<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Santa Claus</mat-card-title>
      <mat-card-subtitle>Merry Christmas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://wallpapercave.com/wp/wp2325066.jpg" >
    <mat-card-content>
      <p >
        With all good wishes for a brilliant and happy Christmas season. 
        Hope things are going all right with you
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button >LIKE</button>
      <button mat-stroked-button >SHARE</button>
    </mat-card-actions>
</mat-card>